h2 {
    background-color: rgb(49, 95, 180);
    color: rgb(229, 237, 253);
    opacity: 50%;

}
h3 {
    color: rgb(53, 50, 94);
}
table, th, td {
    border:5px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }